.counterContainer {
    min-width: 800px;
    max-width: 1000px;
    border: 6px solid #61dafb;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttonContainer {
    padding: 40px;
    display: flex;
    gap: 60px;
    border: 6px solid #61dafb;
    border-radius: 40px;
}