*, *:before, *:after {
    font-family: Tahoma, sans-serif;
}

html {
    font-size: 20px;
}

body {
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.app {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    flex-wrap: wrap;
}